.gallery {
   line-height:1;
   -webkit-column-count:4; /* split it into 5 columns */
   -webkit-column-gap:5px; /* gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:4;
   column-gap:5px;
}

.gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}

figure {
  position: relative;
  transition: all 0.3s;
}

figure:hover{
  opacity: 0.6;
}

figure:hover figcaption{
  opacity : 0.6;
}

figcaption{
  background-color: black;
  font-size: xx-small;
  color: white;
  opacity: 0;
  float: middle;
  position: absolute;
  text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}
