<!DOCTYPE html>
<script type="module" src="{{ url_for('static', path='/main.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<html>
<head>
    <title>libression</title>
    <link rel="shortcut icon" href="#">
</head>

<body class="body">

    <nav class="navbar navbar-inverse navbar-expand-sm">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a id="par_dir"></a></li>
            <li><a id="cur_dir"></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">sub_dir
                    <span class="caret"></span></a>
                <ul class="dropdown-menu"></ul>
            </l>
          </ul>
        </div>
      </nav>





<div>
    <ul id="actions">
        <li id="copy_action">copy</li>
        <li id="move_action">move</li>
        <li id="delete_action">delete</li>
        <li id="target_dir">target_dir: / 
            <input id="target_dir_input" type="text">
        </li>
    </ul>

    <input id="show_subdirs" type="checkbox"/> sub_dir content
    <input id="show_hidden_content" type="checkbox"/> hidden content
</div>

<div class="gallery"></div>

</body>

</html>
