<!DOCTYPE html>
<script src="{{ url_for('static', path='/updater.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

<html>
<head>
    <title>libression</title>
</head>

<body class="body" onload="refreshPage()">

<div>
    <ul id="navigation">
        <li id="home_dir" onclick="refreshPage()">root_dir</li>
        <li id="outer_dir">.</li>
        <li id="cur_dir">.</li>
        <li id="inner_dir">
            <div class="dropdown">
                <a class="dropbtn">sub_dirs (expand)</a>
                <div id="inner_dir_dropdown" class="dropdown-content"></div>
            </div>
        </li>
    </ul>
    <input id="show_subdirs" type="checkbox"/> sub_dir content
    <input id="show_hidden_content" type="checkbox"/> hidden content
</div>

<div class="gallery"></div>

</body>

</html>
