{% extends "layout.html" %}
{% block title %}Navigator{% endblock %}
{% block content %}

  <div>
    Current path: {{ cur_dir }}
  </div>

  <div id="show_subfolder_content_div">
    <form
      action="{{ url_for('render_navigation_with_path', rel_dir_no_leading_slash=cur_dir) }}"
      method="post"
    >
      {% if get_subdir_content %}
        <input type="checkbox"
               id="get_subdir_content"
               name="get_subdir_content"
               value="show"
               onChange="submit()"
               checked
        > Show sub-folder contents
      {% else %}
        <input type="checkbox"
               id="get_subdir_content"
               name="get_subdir_content"
               onChange="submit()"
        > Show sub-folder contents
      {% endif %}

    <input type="submit" value="Update View">

    </form>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Navigation</button>
    <div class="dropdown-content">
      {% for nav_dir in nav_dirs %}
        <a href="{{ url_for('render_navigation_with_path', rel_dir_no_leading_slash=nav_dir) }}"
           title="{{ nav_dir }}"
        >
          Inner Folder: {{ nav_dir }}
        </a>
      {% endfor %}
    </div>
  </div>

  <div id="gallery">
    <form action="/update" method="post">
      <input type="submit" value="Submit">
      {% for key in keys %}
        <figure>
          <input type="checkbox" id="{{ key }}" name="impression" value="{{ key }}">
          <img id="{{ key }}_display" src="{{ url_for('get_thumbnail', s3_key=key) }}">
          <figcaption> {{ key.split('/')[-1] }} </figcaption>
        </figure>
      {% endfor %}
    </form>
  </div>


{% endblock %}
